extends layout

block content
  .titleContainer
    h1= title
  #loginContainer.inbody
    div
      input(type="test",name="name",id="username")
    div
      input(type="button",value="Start Voting!",id="usernameSubmit")
  
  #voteSessionContainer.inbody
      #voteContainer(ratingVal=#{rating})
        input(type="button",value="#{lowLabel}",id="low")
        #ratingDisplayContainer
            div.progress.rating
                div#progressRating.bar(ratingVal=#{rating})
        input(type="button",value="#{highLabel}",id="high")
      
      #voteWrapper(ratingVal=#{rating})
          .decisonWrapper
            #tooSlow.decision Too Slow
            #justRight.decision Just Right
            #tooFast.decision Too Fast
          #peopleContainer
            .importantText People Voting
            #peopleList